[Unit]
Description=Photo Streamer Display
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s

ExecStart=/home/pi/photostreamer/display_photos.py

[Install]
WantedBy=multi-user.target
