beautifulsoup4==4.9.3
feedparser==6.0.2
font-fredoka-one==0.0.4
font-hanken-grotesk==0.0.2
font-intuitive==0.0.4
font-source-serif-pro==0.0.1
inky==1.1.1
numpy==1.19.4
pkg-resources==0.0.0
RPi.GPIO==0.7.0
sgmllib3k==1.0.0
smbus2==0.4.0
soupsieve==2.1
spidev==3.5
